.container {
  width: 60rem;
  height: 10rem;
  background-color: var(--background-white);
  border: 1px solid var(--dark-gray);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  >div {
    display: grid;
    grid-template-columns: 1fr;
    height: 4rem;
    margin: auto;
    width: 200px;
  }

  div:not(:last-child) {
    border-right: 2px solid var(--dark-gray);
  }

  @media only screen and (max-width: 900px) {
    height: auto;
    padding: 1rem 0;
    grid-template-columns: repeat(1, 1fr);
    // width: 20rem;
    width: 80%;
    // height: 16rem;
    text-align: center;
    div:not(:last-child) {
      border: none;
    }
  }

}