.container {
  height: 16rem;
  background: url('../../assets/pattern-bg.png') no-repeat;
  background-size: cover;

  h1 {
    text-align: center;
    padding-top: 2rem;
    font-weight: 500;
    color: var(--text-white)
  }

  form {
    margin: 2rem auto;
  }

  @media only screen and (max-width: 900px) {
    height: 20rem;
  }
}